<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TBC CrossBrowser Suite"
       parallel="classes"
       thread-count="2">
    <test name="Chrome Mobile">
        <parameter name="browserType" value="chrome"/>
        <parameter name="view" value="mobile"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.CardsApiUiTests"/>
        </classes>
    </test>

    <test name="Chrome Desktop">
        <parameter name="browserType" value="chrome"/>
        <parameter name="view" value="desktop"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.CardsApiUiTests"/>
            <class name="ge.tbc.testautomation.tests.ContactFormEdgeCaseTest"/>
            <class name="ge.tbc.testautomation.tests.ContactFormNegativeValuesValidationTests"/>
            <class name="ge.tbc.testautomation.tests.ContactFormPositiveScenarioTest"/>
            <class name="ge.tbc.testautomation.tests.QRCodeTest"/>
        </classes>
    </test>

<!--    <test name="Webkit Desktop">-->
<!--        <parameter name="browserType" value="webkit"/>-->
<!--        <parameter name="view" value="desktop"/>-->
<!--        <classes>-->
<!--            <class name="ge.tbc.testautomation.tests.CardsApiUiTests"/>-->
<!--            <class name="ge.tbc.testautomation.tests.ContactFormEdgeCaseTest"/>-->
<!--            <class name="ge.tbc.testautomation.tests.ContactFormNegativeValuesValidationTests"/>-->
<!--            <class name="ge.tbc.testautomation.tests.ContactFormPositiveScenarioTest"/>-->
<!--            <class name="ge.tbc.testautomation.tests.QRCodeTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Edge Desktop">-->
<!--        <parameter name="browserType" value="edge"/>-->
<!--        <parameter name="view" value="desktop"/>-->
<!--        <classes>-->
<!--            <class name="ge.tbc.testautomation.tests.CardsApiUiTests"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>