<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TBC - CrossBrowser Desktop+Mobile (NON-PARALLEL)"
       parallel="false"
       verbose="1">
    <listeners>
        <listener class-name="ge.tbc.testautomation.utils.CustomTestListener"/>
    </listeners>

    <!-- CHROME - MOBILE -->
    <test name="Chrome Mobile">
        <parameter name="browserType" value="chrome"/>
        <parameter name="view" value="mobile"/>
        <classes>
    <!--            <class name=""/>-->

        </classes>
    </test>

    <!--     CHROME - DESKTOP -->
    <test name="Chrome Desktop">
        <parameter name="browserType" value="chrome"/>
        <parameter name="view" value="desktop"/>
        <classes>
<!--            <class name=""/>-->
        </classes>
    </test>


    <!-- WEBKIT - DESKTOP -->
    <test name="Webkit Desktop">
        <parameter name="browserType" value="webkit"/>
        <parameter name="view" value="desktop"/>
        <classes>
<!--            <class name=""/>-->
        </classes>
    </test>

    <!-- EDGE - DESKTOP -->
    <test name="EDGE Desktop">
        <parameter name="browserType" value="edge"/>
        <parameter name="view" value="desktop"/>
        <classes>
        </classes>
    </test>




</suite>
